{% extends 'base.html.twig' %}

{% block title %}Hello my publication controller{% endblock %}

{% block body %}
    <div class="container px-4 py-5" id="custom-cards">
      {% for getuser in getusers %}
        <h3 class="pb-2 border-bottom d-flex">
          <img src="{{asset(getuser.getImagepath)}}" alt="" style="height: 50px;width:50px; border-radius:25px;border:solid 2px black;object-fit:cover"> 
          <span style="margin-top:1px; margin-left:5px;">{{getuser.username}} 
           {% if getuser.badgemotivator == 'motivator' %}
            <small class="text-success"><i class="fa-solid fa-certificate"></i></small>
           {% endif %}
          </span> &nbsp;&nbsp;
          
          <button style="border-radius:40px;" class="btn btn-secondary">																			
            {% if app.user.isFollowing(getuser) %}
              <img src="{{ asset(getuser.getImagepath) }}"  width="30" height="30" style="object-fit:cover;border-radius:15px;border:2px solid white">
              <a  href="{{ path('follow_user',{'id':getuser.id})}}" class="text-light followclick" style="text-decoration: none;color:black;"><small class="showit{{(getuser.id)}}">abonné</small></a>
              <img src="{{ asset(app.user.getImagepath) }}"  width="30" height="30" style="object-fit:cover;border-radius:15px;border:2px solid white">
              {% else %}
                <img src="{{ asset(getuser.getImagepath) }}"  width="30" height="30" style="object-fit:cover;border-radius:15px;border:2px solid white">
                  <a  href="{{ path('follow_user',{'id':getuser.id})}}" class="text-light followclick" style="text-decoration: none;"><small class="showit{{(getuser.id)}}">suivre</small></a>&nbsp;&nbsp;&nbsp;
                  <img src="{{ asset(app.user.getImagepath) }}"  width="30" height="30" style="object-fit:cover;border-radius:15px;border:2px solid white">
            {% endif %}  
					</button>&nbsp;&nbsp;
          <button style="border-radius:40px;" class="btn btn-outline-secondary btn-sm">																			
            {% if app.user.isFollowing(getuser) %}
              <img src="{{ asset(getuser.getImagepath) }}"  width="30" height="30" style="object-fit:cover;border-radius:15px;border:2px solid white">
              <strong style="font-size: 12px;">
              {{ getuser.offuserfollowers | length }}
              {% if  getuser.offuserfollowers | length >1 %}
                followers 
                {% else %}
                  follower
              {% endif %}
            </strong>    
              <img src="{{ asset(app.user.getImagepath) }}"  width="30" height="30" style="object-fit:cover;border-radius:15px;border:2px solid white">
              {% else %}
                <img src="{{ asset(getuser.getImagepath) }}"  width="30" height="30" style="object-fit:cover;border-radius:15px;border:2px solid white">
                <strong style="font-size: 12px;">
                  {{ getuser.offuserfollowers | length }}
                  {% if  getuser.offuserfollowers | length >1 %}
                    followers 
                    {% else %}
                      follower
                  {% endif %}
                </strong>    
                  <img src="{{ asset(app.user.getImagepath) }}"  width="30" height="30" style="object-fit:cover;border-radius:15px;border:2px solid white">
            {% endif %}  
					</button>
        </h3>
      {% endfor %}
      <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">        
        {% for article in articles %}
         <div class="col">
           <div class="card shadow-sm">
             {% if article.status == 'free' %}
                 {% if app.user %}                
                     <a href="{{ path('app_item',{'id':article.id})}}"><img src="{{ asset(article.Imagepath) }}" class="card-img-top" width="200" height="300" style="object-fit:cover"></a>
                     {% else %}
                     <a href="{{ path('app_login') }}"><img src="{{ asset(article.Imagepath) }}" class="card-img-top" width="200" height="300" style="object-fit:cover"></a>
                 {% endif %} 
                 <div class="d-flex p-1 bg-secondary followpropagation" style="position: absolute;margin-left:10px;margin-top:10px;border-radius:25px;border:border:2px solid black">
                     <img src="{{ asset(article.userposter.getImagepath) }}"  width="30" height="30" style="object-fit:cover;border-radius:15px;border:2px solid white">
                 </div>           
             {% else %}
                 <div class="d-flex p-1 bg-secondary followpropagation" style="position: absolute;margin-left:10px;margin-top:10px;border-radius:25px;border:border:2px solid black">
                     <img src="{{ asset(article.userposter.getImagepath) }}"  width="30" height="30" style="object-fit:cover;border-radius:15px;border:2px solid white">
                 </div>
                 <img src="{{ asset(article.Imagepath) }}" class="card-img-top" width="200" height="300" style="object-fit:cover">
             {% endif %}    
             <div class="card-body">
                 {% if article.status == 'free' %}
                     <strong class="text-success">Gratuit</strong>
                       {% if article.vue == null %}
                         <small>(cet article n'a aucune vue pour le moment) </small>
 
                         {% else %}
                             <small>(cet article a été lu <u>{{ article.vue }} fois
                              </u>)
                             </small> 
                       {% endif %}
                       
                      
                     {% else %}
                     <strong>{{ article.price}} Eur</strong> 
                     <small>(<u>{{ article.commandes | length }} 
                         {% if  article.commandes | length > 1 %}
                             exemplaires vendus
                             {% else %}
                                 exemplaire vendu
                         {% endif %}
                    </u>)
                     </small> 
                 {% endif %}
               <p class="card-text"style="font-size: 15px;">{{ article.title|u.truncate(50,'...') }}</p>
               <div class="d-flex justify-content-between align-items-center">
                 <div class="btn-group">                  
                 {% if app.user == article.userposter %}                  
                   <a href="{{ path('app_update',{'id':article.id})}}" class="btn btn-sm btn-outline-secondary"><i class="fa fa-pencil" aria-hidden="true"></i></a>
                   <a href="{{ path('app_delete',{'id':article.id}) }}" class="btn btn-sm btn-outline-secondary"><i class="fa fa-trash" aria-hidden="true"></i></a>
                 
                 {% endif %}
                 
                 {% if article.status == 'free' %}
                     {% if app.user %}
                         <a href="{{ path('app_item',{'id':article.id}) }}" class="btn btn-sm btn-outline-secondary">read</a>
                         {% else %}
                         <a href="{{ path('app_login') }}" class="btn btn-sm btn-outline-secondary">read</a>   
                     {% endif %}            
                    
                 {% else %}
                     {% if app.user %}
                         <a href="{{ path('app_article_cart',{id:article.id}) }}" class="btn btn-sm btn-warning">Ajouter</a>
                     {% else %}
                         <a href="{{ path('app_login') }}" class="btn btn-sm btn-warning">Ajouter</a> 
                     {% endif %}                    
                 {% endif %}
                 </div>
                 <div class="btn-group">
                     <small class="parent-show{{ article.id }}"></small>
                     <a href="{{ path('likeitem',{'id':article.id}) }}" class="allclicks" style="color:black;text-decoration:none">							
                         {% if app.user and article.IslikeByUser(app.user) %}
                             <i class="fas fa-thumbs-up" aria-hidden="true"></i>
                         {% else %}
                             <i class="far fa-thumbs-up" aria-hidden="true"></i>
                         {% endif %}
                         <span class="countlike">{{ article.articlelikes | length }}</span>								                   
                     </a>&nbsp;&nbsp;
                     <span>
             <i class="fa fa-message"></i>
             {{ article.getComment|length }}
           </span>&nbsp;&nbsp;
           <span>
                         <a href="{{ path('app_sauvegard',{'id':article.id}) }}" class="sauvegarder"  style="color:black;text-decoration:none">
                         {% if app.user and article.IsSavedByUser(app.user) %}
                             <i class="fas fa-bookmark"></i>
                         {% else %}
                             <i class="far fa-bookmark"></i>
                         {% endif %}    
                         <span class="countsave">{{ article.sauvegardes | length }}</span>	
                         </a>						
             
           </span>
                 </div>
                 <small class="text-body-secondary">{{ article.createAt | ago }}</small>
               </div>
             </div>
           </div>
         </div>
        {%  endfor %}
       </div>
        
    </div>   
      {{ include('blog/footer.html.twig')}}
{% endblock %}
{% block javascripts %} 
	 <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>
	 <script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>
	 <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/1.7.7/axios.min.js"></script>

   <script> 
		$(document).ready(function(){
      // to like and to unlike an article
			$(document).on('click','.allclicks',function(event){
				event.preventDefault();
	
				const url= this.href;
				const spancount=this.querySelector('span.countlike');
				const spanlabel=this.querySelector('span.countlabel');
				const icone=this.querySelector('i');
				
				
			   axios.get(url).then(function(response){
				spancount.textContent=response.data.articlelike;
				
				if(icone.classList.contains('fas')){
				  icone.classList.replace('fas','far');
				}
				else{
				  icone.classList.replace('far','fas');
				}
				
			   }).catch(function(error){
				if(error.response.status !== 403){
				  console.log("something went wrong");
				}
				else{
				  window.alert("connecte toi avant de liker un poste");
				}
			   });
			 })
	
			 //this code is used to save the article and to unsave the article
			 $(document).on('click','.sauvegarder',function(event){
				event.preventDefault();
	
				const url= this.href;
				const savecount=this.querySelector('span.countsave');
				const spanlabel=this.querySelector('span.countlabel');
				const icone=this.querySelector('i');
				
				
			   axios.get(url).then(function(response){
				savecount.textContent=response.data.savedarticle;
				
				if(icone.classList.contains('fas')){
				  icone.classList.replace('fas','far');
				}
				else{
				  icone.classList.replace('far','fas');
				}
				
			   }).catch(function(error){
				if(error.response.status !== 403){
				  console.log("something went wrong");
				}
				else{
				  window.alert("connecte toi avant de liker un poste");
				}
			   });
	
			 })

       // here to follow and to unfollow a motivator
			 $(document).on('click','.followclick',function(e){
				e.preventDefault();
				// url that we want to use
				let urls=this.href;
				console.log(urls);
				// this function is to extract the id from  the urls
				function getidfromurl(urls){
					let segment =urls.split("/");
					return segment.pop() || segment.pop();
				}
				// and here is the id extracted from the urls
				let id=getidfromurl(urls);
				$.ajax({
					url:urls,
					type:'POST',
					data:$(this).serialize(),
					success:function(data)
					{
						$('.showit' + id).html(data.message);
					}
				})			
			 })
		     
		})
		
    </script>
	<!-- Bootstrap core JavaScript -->
{% endblock %}



