{# here goes the template chat welcome #}
<style>
	#hide {
		display: none;
	}
</style>
<div class="pt-3 pe-3 coolchat" data-mdb-perfect-scrollbar-init style="position: relative; height: 400px;overflow-y: auto;">
	{% for getmychat in getmychat %}
		<div class="d-flex flex-row justify-content-start">
			<img src="{{ asset(getmychat.userone.getImagepath) }}" alt="avatar 1" style="width: 50px; height:50px; border-radius:25px;border:1px solid black;object-fit:cover;">
			<div>
				<p class="small p-2 ms-3 mb-1 rounded-3 bg-body-tertiary">
					{{ getmychat.content }}
				</p>
				<p class="small ms-3 mb-3 rounded-3 text-muted float-end">{{ getmychat.date | ago }}</p>
			</div>
		</div>
	{% endfor %}
	{% for mychat in mychat %}
		<div class="d-flex flex-row justify-content-end">
			<div>
				<p class="small p-2 me-3 mb-1 text-white rounded-3 bg-primary">
					{{ mychat.content }}
				</p>
				<p class="small me-3 mb-3 rounded-3 text-muted">{{ mychat.date | ago }}</p>
			</div>
			<img src="{{ asset(mychat.userone.getImagepath) }}" alt="avatar 1" style="width: 50px; height:50px; border-radius:25px;border:1px solid black;object-fit:cover;">
		</div>
	{% endfor %}
</div>
{# end  #}
<form class="myformsend">
	<div class="text-muted d-flex justify-content-start align-items-center pe-3 pt-3 mt-2">
		<img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-chat/ava6-bg.webp" alt="avatar 3" style="width: 40px; height: 100%;">

		<input type="text" class="form-control form-control-lg textme" id="exampleFormControlInput2" placeholder="Type message">
		<input type="hidden" id="mevalue" value="{{ app.user.id }}">
		<a class="ms-1 text-muted" href="#!">
			<i class="fas fa-paperclip"></i>
		</a>
		<a class="ms-3 text-muted" href="#!">
			<i class="fas fa-smile"></i>
		</a>

		<button class="sendthismessage" id="hide" value="{{ id }}" style="outline: none;border:none;background:none;">
			<i class="fas fa-paper-plane"></i>
		</button>


	</div>
</form>
<div class="notblack"></div>
{% block javascripts %} <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>
	 <script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>
	 <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/1.7.7/axios.min.js"></script>

	 <script> 
		 $(document).ready(function(){

		   // herr we hide the button when the input is empty
		   $('.textme').on('input',function good(e) {
		         let id=$(this).val();
				 if(id.length === 0){
					$('.sendthismessage').hide();			 
				}
				else{
                    $('.sendthismessage').show();
                }
		  })
		  // herr we are sending message
		  $(document).on('click','.sendthismessage',function doitsend(e) {
			e.preventDefault();
			let id=$(this).val();
			let message=$('.textme').val();
			let mevalue=$('#mevalue').val();
			
			if(message.trim()===''){
				$('.notblack').html("<small class='text-danger'>please write something</small>");
	            return false;
			}
				$.ajax({
					url:'/newchat',
					type:'POST',
					data: {
		                id: id,
						message:message,
						mevalue: mevalue,
		                messageme: true
		                },
					success:function(data)
					{
						$('.coolchat').html(data.success);
						$('.myformsend')[0].reset();
						$('.sendthismessage').hide();	
						
						
					}
				})	
			})		
		  })
		</script>
	<!-- Bootstrap core JavaScript -->
{% endblock %}
