{% for message in messages %}
	{% if message.userone is not same as(app.user) %}
		<div class="d-flex flex-row justify-content-start">
			<img src="{{ asset(message.userone.getImagepath) }}" alt="avatar" class="d-flex align-self-center me-3" width="40" height="40" style="object-fit:cover;border-radius:20px;border:2px solid black">
			<div>
				<p class="small p-2 ms-3 mb-1 rounded-3 bg-body-tertiary">{{ message.content }}</p>
				<p class="small ms-3 mb-3 rounded-3 text-muted">{{ message.date | date }}</p>
			</div>
		</div>
		<div class="divider d-flex align-items-center mb-4">
			<p class="text-center mx-3 mb-0" style="color: #a2aab7;">Today</p>
		</div>
	{% elseif message.userone is same as(app.user) %}
		<div class="d-flex flex-row justify-content-end mb-4 pt-1">
			<div>
				<p class="small p-2 me-3 mb-1 text-white rounded-3 bg-primary">{{ message.content }}</p>
				<p class="small me-3 mb-3 rounded-3 text-muted d-flex justify-content-end">{{ message.date | date }}</p>
			</div>
			<img src="{{ asset(message.userone.getImagepath) }}" alt="avatar" class="d-flex align-self-center me-3" width="40" height="40" style="object-fit:cover;border-radius:20px;border:2px solid black">
		</div>
	{% endif %}
{% endfor %}
