{% extends 'base.html.twig' %}

{% block title %}demande to become a motivator{% endblock %}

{% block body %}
<main class="form-signin w-100 m-auto">
 {% if demandeform | length == 1 %}
    <div class="alert alert-warning">
      <strong class="text-success">votre demande a été envoyé avec succés</strong>
       <p>
        Nous validons une seule demande par account, votre demande est encours de traitement. supprimez la pour en faire une nouvelle      
        </p> 
    </div>
    <a  class="btn btn-danger" href="{{ path('app_profil') }}"> supprimer ma demande</a>
 {% else %}
    {{ form_start(newform) }}
    <h3 class="mb-3 fw-light" style="font-size: 18px;">devenez motivateur <strong>{{ app.user.username }}</strong></h3>
    <strong class="errordemande text-danger"></strong>
         {{ form_errors(newform.picture) }}  
       <small style="font-size:10px;">your title</small>
       <div class="form-floating">
         {{ form_widget(newform.leaderName) }}
         <label for="floatingInput">your leader name</label>
       </div>
       <small style="font-size:10px;">your siret number</small>
       <div class="form-floating">
         {{ form_widget(newform.numeroSiret) }}
         <label for="floatingInput">votre numero siret</label>
       </div>
       <small style="font-size:10px;">votre rang</small>
        <div class="form-floating">
         {{ form_widget(newform.titre) }}
         <label for="floatingPassword">votre rang</label>
       </div>
       <small style="font-size:10px;">other information</small>
       <div class="form-floating">
         {{ form_widget(newform.etablissement) }}
         <label for="floatingPassword">votre nom de l'eglise</label>
       </div>
       <br>
       <div class="form-floating">
         {{ form_widget(newform.religion) }}
         <label for="floatingPassword">votre religion</label>
       </div>
       <small style="font-size:10px;">add your picture</small>
       <div class="form-floating">
         {{ form_widget(newform.picture) }}
       </div>
        <br>   
        {{ form_widget(newform. save) }}
       {{ form_end(newform) }}
 {% endif %}
</main>
{% endblock %}


