{% extends 'base.html.twig' %}

{% block title %}Hello FollowerController!
{% endblock %}

{% block body %}
	<div class="container">
		<div class="row">
			<form action="bg dark col md-3">
				<div class="mb-3">
					<input type="text" class="form-control-lg" id="search-boxer" placeholder="search your motivator here">
				</div>
			</form>
		</div>
		
		<h6 class="mt-3 text-secondary">
			{% if app.user.religion =='Christianisme' %}
				Here are christian groups of all over the world - get them and see theirs posts
			{% elseif app.user.religion =='Islam' %}
				Here are muslim groups of all over the world - get them and see theirs posts
			{% endif %}

		</h6>
		<div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3 mt-1 search-results">
            {% for all_group in all_groups %}
                <div class="col col-md-2">
				<div class="card text-bg-dark rounded-4">
						<div class="card-body text-center">
							<img src="{{ asset(all_group.userid.getImagepath) }}" class="text-center" alt="" style="height: 100px;width:100px; border-radius:50px;border:solid 2px black;object-fit:cover">
							{% if all_group.userid.badgemotivator == 'motivator' %}
								<h3 class="fw-bold" style="font-size: 18px;">
									{{ all_group.groupname }}
								</h3>
                                <h3 class="fw-bold" style="font-size: 18px;">
									<small style="font-size: 12px;">Creator: {{ all_group.userid.username }}</small>
									<small class="text-success" style="font-size: 12px;">
										  <i class="fa-solid fa-certificate"></i>
									</small>
								</h3>
                                {% if all_group.isDemande(app.user) %}
                                <h4 class="makeon{{all_group.id}}" style="font-size: 12px;">
									<a href="{{ path('app_addmyself_in_agroup',{'id':all_group.id})}}" class="btn btn-danger demandon" style="font-size: 12px;">you are in the group</a>
								</h4>
                                {% else %}
                                    <h4 class="makeon{{all_group.id}}" style="font-size: 12px;">
                                        <a href="{{ path('app_addmyself_in_agroup',{'id':all_group.id})}}" class="btn btn-bd-primary demandon" style="font-size: 12px;">Ask to enter</a>
                                    </h4>
							    {% endif %}
							{% endif %}
						</div>
				</div>
			</div>
            {% endfor %}
			
		</div>
	{% endblock %}
	{% block javascripts %} <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>
		 <script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>
		 <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/1.7.7/axios.min.js"></script>

		 <script> 
		   $(document).ready(function(){
		
		   //here we do the seach of user
		    $('#search-boxer').on('keyup', function () {
		      let query = $(this).val();
		      
		      if (query.length > 2) { // Only search if at least 3 characters
		          $.ajax({
		              url: '{{ path("search_group") }}',
		              method: 'GET',
		              data: { query: query },
		              success: function (data) {
		                  $('.search-results').html(data);          
		              }
		          });
		      }else if(query.length ==''){
		        $('.search-results').html(''); 
		        }
		      else{
		        $('.search-results').html('<h3 class="text-danger" style="font-size: 15px;margin-left:0px;">sorry the group doesnt exist or the religion doesnt match</h3>');      
		      } 
		    });
		
		    //this code is used to follow the user and to unfollow the user
		   
             // here we are adding ourself in the group and removing at the same time 
             $(document).on('click','.demandon',function(e){
				e.preventDefault();
				// url that we want to use
				let urls=this.href;
				
				// this function is to extract the id from  the urls
				function getidfromurl(urls){
					let segment =urls.split("/");
					return segment.pop() || segment.pop();
				}
				// and here is the id extracted from the urls
				let id=getidfromurl(urls);
				$.ajax({
					url:urls,
					type:'POST',
					data:$(this).serialize(),
					success:function(data)
					{
						$('.makeon' + id).html(data);
					}
				})			
			 })
		        
		   }) 
		  </script>
		<!-- Bootstrap core JavaScript -->
	{% endblock %}
