{% extends 'base.html.twig' %}

{% block title %}my group
{% endblock %}

{% block body %}
	<div class="container col-xl-10 col-xxl-8 px-4 py-5">
		<div class="row  g-lg-5">
			<div
				class="col-lg-7 text-lg-start">
				<h1 class="display-4 fw-bold lh-1 text-body-emphasis mb-3">{{groups.groupname}}</h1>
				{# form to post #}
				{{ include('group/formposter.html.twig') }}
				{# form to post end #}

				{# post area #}
				<div class="">
					{% for allgrouppost in allgrouppost %}
						<div class="col mb-3 lh-1 text-body-emphasis">
							
							<div class="card shadow-sm">
								<div class="card-header d-flex">
									<div class="btn-group">
										<button class="btn btn-secondary btn-sm" type="button">
											<img src="{{asset(allgrouppost.posterownerid.getImagepath) }}" alt="{{allgrouppost.groupid.groupname}}" width="25" height="25" class="rounded-circle" style="object-fit: cover;">
											&nbsp;<small>{{ allgrouppost.groupid.groupname }}</small>
										</button>
										<button type="button" class="btn btn-sm btn-secondary dropdown-toggle dropdown-toggle-split" data-bs-toggle="dropdown" aria-expanded="false">
											<span class="visually-hidden">Toggle Dropdown</span>
										</button>
										<ul class="dropdown-menu dropdown-menu-dark">
											<li>
												<a class="dropdown-item active">{{ app.user.username}}</a>
											</li>
											<li>
												<a class="dropdown-item" href="{{ path('app_profil') }}">Profil</a>
											</li>
										</ul>
									</div>
								</div>
								<p class="lh-1 text-body-emphasis p-1">
                                {{ allgrouppost.description }}
							    </p>
								<img src="{{ asset(allgrouppost.getImagepath) }}" class="bd-placeholder-img card-img-top" width="100%" height="100%" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: Thumbnail" preserveaspectratio="xMidYMid slice" focusable="false">
								<div class="card-body">
									<p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
									<div class="d-flex justify-content-between align-items-center">
										<div class="btn-group">
											<a href="" type="button" class="btn btn-sm btn-outline-secondary"><i class="far fa-thumbs-up" aria-hidden="true"></i>&nbsp;52 </a>
											<a href="" type="button" class="btn btn-sm btn-outline-secondary"><i class="fa fa-message"></i>&nbsp; 23 </a>
											<a href="" type="button" class="btn btn-sm btn-outline-secondary"><i class="far fa-bookmark"></i>&nbsp; 23 </a> 
										</div>
										<small class="text-body-secondary">{{ allgrouppost.date | ago }}</small>
									</div>
								</div>
							</div>
						</div>
					{% endfor %}
				</div>
				{# end post #}
			</div>

			<div class="col-md-10 mx-auto col-lg-5 position-sticky">
				<div class="d-flex flex-column align-items-stretch flex-shrink-0 bg-body-tertiary" style="width: 380px;overflow-y: auto;">
					<div class="d-flex align-items-center flex-shrink-0 p-3 link-body-emphasis text-decoration-none border-bottom">
						<svg class="bi pe-none me-2" width="30" height="24">
							<use xlink:href="#bootstrap"></use>
						</svg>
						<div class="input-group rounded w-75">
							<input type="search" class="form-control rounded youseme" placeholder="Search" aria-label="Search" aria-describedby="search-addon"/>
							<input type="hidden" class="groupo" value="{{groups.id}}">
						</div>
					</div>
					<div class="errrorgoeshere"></div>
					<div class="list-group list-group-flush border-bottom scrollarea mutehere" style="height: 380px;overflow-y: auto;">
						{% for alluser in alluser %}
							<div class="list-group-item list-group-item-action py-3 lh-sm" id="userlight{{ alluser.id }}">
								<div class="d-flex w-100 align-items-center justify-content-between">
									<strong class="mb-1">{{alluser.username}}</strong>
									{% if app.user.isAdding(alluser) %}
										<input type="hidden" class="groupid" value="{{groups.id}}">
										<div class="solidme{{ alluser.id }}">
											<button class="btn btn-danger btn-sm text-light removeme" value="{{ alluser.id }}">remove</button>
										</div>
									{% else %}
										<input type="hidden" class="groupid" value="{{groups.id}}">
										<div class="solidme{{ alluser.id }}">
											<button class="btn btn-secondary btn-sm text-light addme" value="{{ alluser.id }}">add</button>
										</div>
									{% endif %}

								</div>
								<div class="col-10 mb-1 small">you can now add thi user into your group by clicking add button</div>
							</div>
						{% endfor %}
					</div>
				</div>
			</div>
		</div>
	</div>
{% endblock %}
{% block javascripts %} <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>
	 <script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>
	 <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/1.7.7/axios.min.js"></script>
	<!-- Bootstrap core JavaScript -->

	 <script>
			        // adding the user in the group
			        $(document).ready(function(){
			            // add code here
			             $(document).on('click','.addme',function(e){
			                  let id=$(this).val();
							  let group=$('.groupid').val();
							 $.ajax({
								type: 'POST',
			                    url: '/adduser',
			                    data: {
			                    id: id,
			                    group: group,
								add:true
			                },
			                success: function(response) {
			                   $('.solidme' + id).html(response)
			                }
						})
			               
			        })
			
					//removing the user
					$(document).on('click','.removeme',function(e){
						let id=$(this).val();
						let group=$('.groupid').val();
					   $.ajax({
						  type: 'POST',
						  url: '/removeuser',
						  data: {
						  id: id,
						  group: group,
						  add:true
					  },
					  success: function(response) {
						 $('.solidme' + id).html(response)
					  }
				  })
					 
			  })
			
			  //here we do the seach of user to add in
			  $('.youseme').on('keyup', function () {
				let query = $(this).val();
				let groupo=$('.groupo').val();
				
				if (query.length > 2) { // Only search if at least 3 characters
					$.ajax({
						url: '{{ path("searchuserforgroup") }}',
						method: 'GET',
						data: { 
							query: query,
							groupo:groupo,
						 },
						success: function (data) {
							$('.mutehere').html(data); 
							$('.errrorgoeshere').html('');               
						}
					});
				}
				else if(query.length ==''){
					$('.errrorgoeshere').html('');
				}
				else{
				  $('.errrorgoeshere').html('<h3 class="text-danger" style="font-size: 10px;margin-left:0px;">sorry the user doesnt exist</h3>');      
				} 
			  });
							//ici nous allons activer un temoignage pour que ca soit visible pour le visiteur dans la page index
			});
			</script>
{% endblock %}
